# Exercise 1: Cutlet csv file

H0: There is no significant difference in the diameter of the cutlet between two units

H1: There is a significant difference in the diameter of the cutlet between two units

Test: 2 sample 2 tail test

In [4]:
import pandas as pd
import numpy as np
from scipy import stats
df_cutlet=pd.read_csv('D:/Megha/Desktop/DS assignments/Assignment 3 Hypothesis Testing/Cutlets.csv')
df_cutlet

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [26]:
df_cutlet['Unit A'].skew()

-0.12368390249006213

In [27]:
df_cutlet['Unit B'].skew()

-0.379945149223563

Unit A and Unit B are nearly normally distributed

In [28]:
df_cutlet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

degrees of freedom = 34

confidence interval = 95% ==> 2.5% on either tails

In [32]:
Unit_A=pd.Series(df_cutlet['Unit A'])
Unit_A

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [33]:
Unit_B=pd.Series(df_cutlet['Unit B'])
Unit_B

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [34]:
stats.ttest_ind(Unit_A,Unit_B)

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

Since the p value > 0.05, it indicates that there is 47% chance that there is no significant differences between diameter of cutlets from 2 different units. Therefore null hypothesis can be accepted.

Therefore it can be concluded that there is no significant difference between the diameter of cutlets from different units

# Exercise 2: LabTAT csv file

H0: There is no significant difference in TAT of reports of the labs

H1: There is a significant difference in TAT of reports of the labs

Test: Since there are more than 2 samples, use ANOVA

In [36]:
df_LabTAT=pd.read_csv('D:/Megha/Desktop/DS assignments/Assignment 3 Hypothesis Testing/LabTAT.csv')
df_LabTAT

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [37]:
stats.f_oneway(df_LabTAT.iloc[:,0],df_LabTAT.iloc[:,1],df_LabTAT.iloc[:,2],df_LabTAT.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

Since the calculated pvalue << 0.05, it can be concluded that there is less than 5% probability that the null hypothesis is correct

Therefore accept H1; there is a significant difference in the TAT of reports from different labs

## Exercise 3 Buyer Ratio csv file

H0: All proportions are equal

H1: All proportions are not equal

Test : since we want to find the correlation between gender and buyer ratios across regions, use chi square

In [5]:
df_buyer_ratio=pd.read_csv('D:/Megha/Desktop/DS assignments/Assignment 3 Hypothesis Testing/BuyerRatio.csv')
df_buyer_ratio

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [6]:
from scipy.stats import chi2_contingency

In [10]:
array=np.array([[50,142,131,70],[435,1523,1356,750]])

In [12]:
chi2_contingency(array)
# o/p is (Chi2 stats value, p_value, df, expected obsvations)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

If pvalue > 0.05, it implies that there is greater than 5% probability that null hypothesis is true, ie; there is 66% probability that H0 is true

Therefore there is no significant difference between the ratios of buyers from across different regions

# Exercise 4: Customer order form csv file

H0: The defective % does not vary by centre

H1: The defective % varies by centre

Test: since relation between categorical variables are involved, test method is Chisquare

In [43]:
df_orderform=pd.read_csv('D:/Megha/Desktop/DS assignments/Assignment 3 Hypothesis Testing/Costomer+OrderForm.csv')
df_orderform

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [44]:
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [45]:
df_orderform.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [46]:
df_orderform.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [47]:
df_orderform.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [48]:
df_orderform.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [50]:
results=np.array([[271,267,269,280],[29,33,31,20]])
results

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [51]:
chi2_contingency(results)
# o/p is (Chi2 stats value, p_value, df, expected obsvations)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

SInce p value is greater than 0.05, H0 is accepted

Therefore, the defective % does not vary by centre